.widget-svg{

    height: 20px!important;
    width: 20px!important;
}

.star-ratings{

    position: relative;
    bottom: 4px;
    left: 3px;
}

.div-departure{

    margin-left: 40px;
    width:200px;
    float: left;

}



.title{

        margin-right: 30px;
        float: left;
        width:200px;

}
.departure{

    margin-left: 42px;
    float: left;
    font-size: 18px;

}

.card-bus{

    height:140px!important;
    background-color: ivory!important;
    
}

.bus-fetch{

    width: 20%!important;
    
}

.details{
    
    padding-top: 10px;
    margin-bottom: 15px;
    display: flex;

}